@model SymptomTracker.Models.Symptom

@{
    ViewData["Title"] = "Details";
}

<div class="jumbotron">
    <div class="container">
        <a asp-action="Index">< Back to Symptom List</a>
        <h1 class="display-4 pt-lg-5">Details</h1>
        <p class="lead">Details on your symptom for (this day).</p>
    </div>
</div>

<div class="container">
    <div class="container mb-2">
        <div class="row">
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        </div>
    </div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WellBeing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WellBeing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChestPain)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChestPain)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecordDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecordDate)
        </dd>
    </dl>

</div>