@model IEnumerable<SymptomTracker.Models.Symptom>

@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4 pt-lg-5">Your Symptoms</h1>
        <p class="lead">This is a list of your logged symptoms.</p>
    </div>
</div>

<div class="container">
    <h1>Index</h1>

    <p>
        <a asp-action="Create" class="btn btn-outline-primary btn-symptom">Create New</a>
    </p>


        @for (var i = 0; i < Model.Count(); i++)
        {

            if ((i % 3) == 0 || i == 0)
            {
                @Html.Raw("<div class='card-deck'>");
            }

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => Model.ElementAt(i).Title)</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => Model.ElementAt(i).Body)</h6>
                    <p class="card-text">@Html.DisplayFor(modelItem => Model.ElementAt(i).RecordDate)</p>

                    <a class="card-link" asp-action="Edit" asp-route-id="@Model.ElementAt(i).Id">Edit</a>
                    <a class="card-link" asp-action="Details" asp-route-id="@Model.ElementAt(i).Id">Details</a>
                    <a class="card-link" asp-action="Delete" asp-route-id="@Model.ElementAt(i).Id">Delete</a>
                </div>
            </div>

            if ((i % 3) == 2 || i== Model.Count() -1)
            {
                @Html.Raw("</div>");
                
            }
        }


</div>
